<div class="page-header">
  <%= link_to items_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_items_path(@home), class: 'btn btn-info' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>
    <span class="glyphicon glyphicon-home" aria-hidden="true"></span> Address:
    <%= @home.address %>
  </h1>
</div>

<!-- Columns are always 50% wide, on mobile and desktop -->
<div class="row">
  <div class="col-md-6 col-sm-12">
    <%= image_tag(@home.image_url(:medium)) %>

  </div>
  <div class="col-md-6 col-sm-12">
    <dl class="dl-horizontal">
      <h2><%= @home.city %>, <%= @home.state %>  <%= @home.zip %></h2>
      <h4>| <%= @home.bedrooms %> beds | | <%= @home.baths %> baths | | <%= @home.square_feet %> sq. feet |</h4>
      <h5><span class="glyphicon glyphicon-home" aria-hidden="true"></span></h5>
      <div class="well well-sm"><h3>FOR SALE:  <%= number_to_currency(@home.price, precision: 0) %></h3></div>
      <div class="well well-sm">Description: <h4><%= @home.description %></h4></div>
  </div>
</div>
