<div class="page-header">
  <%= link_to items_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Auction List
  <% end %>
  <%= link_to edit_item_path(@item), class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit Item
  <% end %>
  <h1><%= @item.name %></h1>
</div>
<div class="media-tex media">
  <div class="media-left">
  <%= image_tag(@item.image_url(:medium)) %>
    </a>
  </div>
  <div class="media-body">
    <h4>Item Description:</h4>
    <p> <%= @item.description %></p>
    <h4>Item Category:</h4>
    <p><%= @item.category %></p>
    <h4>Minimum Bid: <%= number_to_currency(@item.minimum_bid, precision: 0) %></h4>
    <h4>Bidding Increment: <%= number_to_currency(@item.bid_increment, precision: 0) %></h4>
  </div>
</div>
<div class="body-show">
  <span> <%= render "bids/form" %></span>
  <h5> Current Bids:</h5>
  <ul class="list-group">
    <%= render @item.bids.order(bid_amount: :desc) %>
  </ul>
</div>
